{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "breaking": true,
            "release": "major"
          },
          {
            "type": "release",
            "release": "major"
          },
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "data",
            "release": false
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "revert",
            "release": "patch"
          },
          {
            "type": "docs",
            "release": false
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": false
          },
          {
            "type": "test",
            "release": false
          },
          {
            "type": "build",
            "release": "patch"
          },
          {
            "type": "ci",
            "release": false
          },
          {
            "type": "chore",
            "release": false
          },
          {
            "scope": "no-release",
            "release": false
          }
        ],
        "parserOpts": {
          "headerPattern": "^(\\w+)(?:\\(([\\w\\$\\.\\-\\* ]*)\\))?\\: (.*)$"
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": ":sparkles: Novedades",
              "hidden": false
            },
            {
              "type": "fix",
              "section": ":bug: Correcciones",
              "hidden": false
            },
            {
              "type": "data",
              "section": ":bar_chart: Datos",
              "hidden": false
            },
            {
              "type": "perf",
              "section": ":fast_forward: Desempeño",
              "hidden": false
            },
            {
              "type": "revert",
              "section": ":back: Restituciones"
            },
            {
              "type": "docs",
              "section": ":memo: Documentación",
              "hidden": false
            },
            {
              "type": "style",
              "section": ":barber: Estilos",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": ":zap: Refactorizaciones",
              "hidden": false
            },
            {
              "type": "test",
              "section": ":white_check_mark: Pruebas",
              "hidden": false
            },
            {
              "type": "build",
              "section": ":hammer_and_wrench: Sistemas",
              "hidden": false
            },
            {
              "type": "ci",
              "section": ":infinity: Integración continua",
              "hidden": false
            },
            {
              "type": "chore",
              "hidden": true
            }
          ]
        },
        "parserOpts": {
          "headerPattern": "^(\\w+)(?:\\(([\\w\\$\\.\\-\\* ]*)\\))?\\: (.*)$"
        }
      }
    ],
    "@semantic-release/github"
  ]
}
